@font-face {
    font-family: "wildworld";
    src: url("./assets/Fonts/WILDWORLD.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    cursor: none!important;
}

html,
body {
    position: relative;
    background-color: #ffffff;
    /* height: 191em; */
    cursor: none!important;
}

h1, h2{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.firstSentence{
    border: #dbdbdb solid 0.1px; 
    font-size: 2em; 
    padding: 5px 20px; 
    text-align: end; 
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #000;
}

button{
    height: 3em; 
    background-color: #ffffff;
    border: 0.5px solid #dbdbdb;
    border-radius: 30px;
    padding: 5px 10px; 
    font-size: 15px;
    border: 0.2px #303030 solid;
}

/**** Main page ****/
.parentMainTitle {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 41em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 10%; */
    margin-top: 2%;
}
    
.mainTitleDiv1 { grid-area: 1 / 1 / 3 / 4; }
.mainTitleDiv2 { grid-area: 1 / 4 / 3 / 7; }
.mainTitleDiv3 { grid-area: 3 / 1 / 5 / 4; margin-left: -6em;}
.mainTitleDiv4 { grid-area: 3 / 4 / 5 / 7; }
.mainTitleDiv5 { grid-area: 5 / 1 / 7 / 4; }
.mainTitleDiv6 { grid-area: 5 / 4 / 7 / 7; }
/* .mainTitleDiv7 { grid-area: 2 / 3 / 6 / 5; margin-left: 0.3em;} */
.mainTitleDiv7 { 
    grid-area: 2 / 3 / 6 / 5; 
    /* margin-left: 0.3em; */
    background-image: url("https://catacombes.xyz/assets/images/porteOuverteAcqueducDeLaVanne_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    width: 50%;
    height: 100%;
    margin-left: 12%;
    z-index:2;
    /* margin: auto; */
}

/* #imageBackground1{
    background-image:url('./assets/Images/pc.png');
} */

#catacombesTitle{
    text-align: center;
    width: 50%;
    margin: 2em auto 1em auto;
}

.mainTitleFirst, .mainTitleSecond{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 6em;
    font-weight: 600;
}

.nameRoom, .buttonRoom3D{
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
}

.infoHelpTitle{
    -webkit-box-shadow: 9px 11px 0px 1px #000000; 
    box-shadow: 9px 11px 0px 1px #000000; 
    border: 0.5px solid #000;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 2em;
    background-color: #FFF;
    padding: 5px 0px 3px 15px;
    font-style: italic;
}

.infoHelpDiv{
    grid-area: 2 / 2 / 3 / 6;
}

.mainTitleSecond{
    color: transparent; 
    -webkit-text-stroke: 0px #231f20;
    -webkit-text-stroke-width: thin!important; 
    font-weight: 100;
    font-size: 5em;
    margin-top:-0.4em;
}

#logoVR{
    margin-left: 18em;
    margin-top: -5.2em;
}

/**** Paris map ****/
.parent {
    display: grid;
    grid-template-columns: repeat(12, 96px);
    grid-template-rows: repeat(12, 58px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url("https://catacombes.xyz/assets/images/paris.png");
    width: 1150px;
    height: 700px;  
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: #000000 solid 11px;
    margin-bottom: 2em;
    margin-top: 8em;
    cursor: none!important;
}

#belierPoint, #plagePoint, 
#cellierPoint, #soleilPoint, 
#anubisPoint, #boutikPoint, 
#ossaPoint, #cabanisPoint, 
#dragonPoint, #cabinetPoint, 
#cabiBisPoint, #krakenPoint, 
#concretionPoint{
    width: 10%;
}

.div1 { grid-area: 11 / 6 / 12 / 7; }
.div2 { grid-area: 10 / 7 / 11 / 8; }
.div3 { grid-area: 10 / 6 / 11 / 7; }
.div4 { grid-area: 9 / 7 / 10 / 8; }
.div5 { grid-area: 8 / 7 / 9 / 8; }
.div6 { grid-area: 7 / 7 / 8 / 8; }
.div7 { grid-area: 6 / 7 / 7 / 8; }
.div8 { grid-area: 8 / 6 / 9 / 7; }
.div9 { grid-area: 7 / 6 / 8 / 7; }

/****** Room placement on map ******/
.parentMapping{
    display: grid;
    grid-template-columns: repeat(7, 13.71px);
    grid-template-rows: repeat(5, 11.6px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#belierPoint{
    grid-area: 3 / 2 / 4 / 3;
} 

#concressionPoint{
    grid-area: 2 / 3 / 3 / 4;
}

#cellierPoint{
    grid-area: 2 / 7 / 3 / 8;
}

#byzancePoint{
    grid-area: 1 / 7 / 2 / 8;
}

#chateauPoint{
    grid-area: 2 / 6 / 3 / 7; 
}

#plagePoint{
    grid-area: 3 / 1 / 4 / 2;
}

#soleilPoint{
    margin-left: 0.6em;
    grid-area: 3 / 1 / 4 / 2;
}

#anubisPoint{
    grid-area: 1 / 2 / 2 / 3;
    margin-left: -0.2em;
}

#sarkoPoint{
    grid-area: 1 / 6 / 2 / 7;
}

#boutikPoint{
    grid-area: 5 / 3 / 6 / 4;
}

#ossaPoint{
    grid-area: 5 / 4 / 6 / 5;
}

#krakenPoint{
    grid-area: 5 / 2 / 6 / 3; 
}

#cabanisPoint{
    grid-area: 3 / 4 / 4 / 5; 
}

#dragonPoint{
    grid-area: 2 / 7 / 3 / 8;
}

#cabinetPoint{
    grid-area: 5 / 4 / 6 / 5;
}

#cabiBisPoint{
    grid-area: 1 / 3 / 2 / 4;
}

#cubePoint{
    grid-area: 3 / 4 / 4 / 5;
}

#facoPoint{
    grid-area: 1 / 2 / 2 / 3;
}

#philibertPoint{
    grid-area: 4 / 5 / 5 / 6;
}

#manoirPoint{
    grid-area: 5 / 6 / 6 / 7;
}

#fontainePoint{
    grid-area: 4 / 3 / 5 / 4;
}

#anschlussPoint{
    grid-area: 2 / 4 / 3 / 5;
}

#chapellePoint{
    grid-area: 3 / 4 / 4 / 5; 
}

#ratsPoint{
    grid-area: 4 / 1 / 5 / 2;
}

#bocalPoint{
    grid-area: 5 / 1 / 6 / 2; 
}

#atlasPoint{
    grid-area: 4 / 5 / 5 / 6;
}

#cochonPoint{
    grid-area: 1 / 5 / 2 / 6;
}

#bureauPoint{
    grid-area: 3 / 6 / 4 / 7;
}

#boutikDiv, #ossaDiv, 
#anubisDiv, #plageDiv, 
#soleilDiv, #cellierDiv, 
#belierDiv, #concretionDiv{
    grid-area: 6 / 2 / 7 / 3;
} 

/**** Modale on map ****/ 
#modaleRoom3D{
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(6, 1fr);
    border: 0.2px #303030 solid;
    opacity : 1;
}

/* #modaleRoom3D:hover { 
    opacity : 0; 
    transition:opacity 1s;
} */

.pointRoom:hover{
    cursor: none!important;
}

.modaleElemPresentation{
    grid-area: 4 / 9 / 10 / 12; 
    border-radius: 10px; 
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */

}

.buttonRoom3D{
    grid-area: 6 / 2 / 7 / 3;
}

/**** Canvas 3D ****/
.webgl{
    position: fixed;
    outline: none;
    bottom: 1em;
    height: 680px!important;
    margin-left: 4%;
}

#canvas, #canvasDiv{
    display: none;
    width: 90%!important; 
    height: 95%!important;
    margin-top: 2%;
    border-radius: 15px;
    box-shadow: -1px -1px 147px 33px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 147px 33px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 147px 33px rgba(0,0,0,0.75);
    position: fixed;
}

#qrCode{
    position: fixed;
    z-index: 99999;
    bottom: 0px;
    display: none;
    padding: 7px 14px;
}

.parentQrCode {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: 0.5fr repeat(2, 1fr);
}
    
.vrForIphone { 
    grid-area: 1 / 1 / 2 / 3; 
    width: 120px; 
    border-radius: 8px 8px 0 0;
}
.qrCodeRoomId { 
    grid-area: 2 / 1 / 4 / 3; 
    border-radius: 0 0 8px 8px;
}

#ARButton{
    position: fixed;
    bottom: 4em;
    padding: 12px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font: 13px sans-serif;
    opacity: 0.5;
    outline: none;
    z-index: 999;
    cursor: pointer;
    left: calc(50% - -140px);
    width: 102px;
    height: 13px;
    color: #ffff;
    text-align: center;
}

#VRButton{
    position: fixed!important;
    bottom: 20px;
}

#arLink{
    text-decoration: none;
    margin: auto; 
    right: 0; 
    left: 0; 
    top: 0; 
    bottom: 0;
    padding: auto;
}

.loading-bar{
    position: fixed; 
    top: 50%; 
    width: 90%; 
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    margin-left: 4%;
    transition: transform 0.5s;
    will-change: transform;
}

.loading-bar.ended{
    transform-origin: top right;
    transition: transform 1s ease-in-out;
}

.loadingPercent{
    z-index: 99999; 
    color: #ffffff; 
    position: fixed; 
    margin: auto; 
    left: 50%;
    top: 43%;
    transition: transform 3s;
}

#closeIconInfo{
    position: fixed;
    margin-left: 74.5%; 
    top: 17.3%;
    z-index: 9999999;
}

#closeHelpButton{
    background-color: #fff; 
    border-radius: 50%; 
    border: 1.2px #000 solid; 
    z-index: 999999; 
    position: absolute; 
    top: 0.2%;
    right: 14.2%;
}

#infoButton{
    display: none; 
    position: fixed; 
    top: 6%; 
    text-align: center;
}

#imgHelp{
    z-index: 99999; 
    position: fixed;
    margin: auto; 
    right: 0; 
    left: 0; 
    top: 0; 
    bottom: 0; 
    width: 50%; 
    border-radius: 15px
}

#closeIcon{
    right: 6.7%;
    margin-top: 13px;
    z-index: 999999; 
    width: 14px;
    height: 15px; 
    position: fixed;
    background-color: #fff; 
    padding: 5px 10px 10px 8px;
    border-radius: 50%;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra */
    -ms-user-select: none; /* Internet explorer */
    user-select: none; /* standard */
    text-align: center;
    top: 2%;
    border: 1.8px #000 solid;
    display: none;
}

#infoIcon{
    right: 9.5%;
    position: fixed;
    top: 3%;
}

#infobutton{
    display: none; 
    position: absolute;
    margin-left: 24%; 
    margin-top: 3%;
}

/**** Catacombs text history ****/ 
.parentTextExplications {
    display: grid;
    /* grid-template-columns: 0.1fr 0.5fr repeat(4, 1fr) 0.5fr 0.1fr; */
    /* grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.1fr 1fr 0.1fr; */
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 17.9em);
    /* margin-top: 1em; */
}
    
.textExplication1 { grid-area: 2 / 2 / 3 / 4; z-index: 10;}
.textExplication2 { grid-area: 3 / 3 / 4 / 5; margin-top: 4em; z-index: 10;}
.textExplication3 { 
    grid-area: 4 / 2 / 5 / 4;
    margin-top: 10em;
}

.image1 {
    grid-area: 2 / 3 / 3 / 4;
    background-image: url("https://catacombes.xyz/assets/images/porteClose_ruePinel_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;

}

.image2 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url("https://catacombes.xyz/assets/images/crypte_atlasCatacombes_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;

}

.image3 {
    grid-area: 2 / 4 / 3 / 5;
    background-image: url("https://catacombes.xyz/assets/images/salleDesRadios_ValDeGrace_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
    width:95%; 
    height:96%;
    margin: auto;
    z-index: 9;
}

.image4{
    grid-area: 2 / 5 / 3 / 6;
    background-image: url("https://catacombes.xyz/assets/images/escalierCimetiereMontparnasseEtageInferieur_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
    width:95%; 
    height:96%;
    margin: auto;
}

.image5{
    grid-area: 3 / 5 / 4 / 6;
    background-image: url("https://catacombes.xyz/assets/images/acqueducArcueil_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;

}

.image6{
    grid-area: 4 / 4 / 5 / 5;
    background-image: url("https://catacombes.xyz/assets/images/bunker_catacombes.png");
    background-size: cover; 
    background-position: center;
    margin: 10px;

}

.image7{
    grid-area: 1 / 4 / 2 / 5;
    background-image: url("https://catacombes.xyz/assets/images/doubleEscalier_CabinetMineralogieLHuillier_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;

}

/* .image8{
    grid-area: 1 / 5 / 2 / 6;
} */

/* .image9{
    grid-area: 3 / 2 / 4 / 3;
} */

.image10{
    grid-area: 2 / 2 / 3 / 3;
    background-image: url("https://catacombes.xyz/assets/images/acqueducArcueil_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image11{
    grid-area: 2 / 1 / 4 / 2; 
    background-image: url("https://catacombes.xyz/assets/images/couloirCatacombes_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
    z-index: 9;

}

.image12{
    grid-area: 4 / 2 / 6 / 3;
    background-image: url("https://catacombes.xyz/assets/images/salleApero_chauxAssas_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image13{
    grid-area: 4 / 1 / 5 / 2; 
    background-image: url("https://catacombes.xyz/assets/images/rueHonoreChevalierCatacombes_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image14{
    grid-area: 3 / 5 / 5 / 6;
    background-image: url("https://catacombes.xyz/assets/images/salleCube_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image15{
    grid-area: 5 / 1 / 6 / 2;
    background-image: url("https://catacombes.xyz/assets/images/fontaineDesChartreux_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image16{
    grid-area: 5 / 3 / 6 / 5;
    background-image: url("https://catacombes.xyz/assets/images/tombePhilibertAspairt_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image17{
    grid-area: 1 / 5 / 2 / 6;
    background-image: url("https://catacombes.xyz/assets/images/passeMuraille_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image18{
    grid-area: 3 / 2 / 4 / 3;
    background-image: url("https://catacombes.xyz/assets/images/SalleSarko_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image19{
    grid-area: 5 / 5 / 6 / 6;
    background-image: url("https://catacombes.xyz/assets/images/salleApero_chauxAssas_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image20{
    grid-area: 3 / 3 / 4 / 5;
    background-image: url("https://catacombes.xyz/assets/images/archeValDeGrace_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image21{
    grid-area: 5 / 5 / 6 / 6;
    background-image: url("https://catacombes.xyz/assets/images/SalleChateau_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image22{
    grid-area: 1 / 1 / 2 / 3;
    background-image: url("https://catacombes.xyz/assets/images/reservoirEauVanne_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image23{
    grid-area: 4 / 3 / 5 / 4;
    background-image: url("https://catacombes.xyz/assets/images/passeMuraille_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image24{
    grid-area: 4 / 3 / 5 / 4;
    background-image: url("https://catacombes.xyz/assets/images/salleSolcarlus_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image25 { 
    grid-area: 2 / 4 / 3 / 5; 
    background-image: url("https://catacombes.xyz/assets/images/salleSolcarlus_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.image26 { 
    grid-area: 2 / 1 / 3 / 2;
    background-image: url("https://catacombes.xyz/assets/images/salleSolcarlus_catacombes.jpg");
    background-size: cover; 
    background-position: center;
    margin: 10px;
}

.imgBackgroundText{
    background-size: cover; 
    background-position: center;
    width:100%;
}

.textExplication{
    /* padding: 1em 3em 3em;  */
    text-align: justify;
    background-color: #f9f9f9;
    padding: 15px 20px; 
    box-shadow: 0px 0px 32px 0px rgba(186,186,186,0.75);
    -webkit-box-shadow: 0px 0px 32px 0px rgba(186,186,186,0.75);
    -moz-box-shadow: 0px 0px 32px 0px rgba(186,186,186,0.75);
    z-index: 999;
    height: inherit;
}

/*** Background shapes | test ****/
#shape1{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); 
    width: 6em; 
    border-radius: 50%; 
    filter: blur(1.5rem);
}

#shape2{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 10em;
    border-radius: 50%;
    filter: blur(1.5em);
    height: 10em;
    margin-left: 80%;
}

.parentFooter{
    display: grid; 
    grid-template-columns: 0.7fr 0.2fr 0.7fr 0.2fr 0.7fr;
    grid-template-rows: 0.5fr;
}

.iconeFooter{
    grid-area: 1 / 1 / 2 / 2;
    margin: auto 0 auto 1em;
}

.imageIconFooter{
    width: 200px; 
    padding: 10px 15px; 
    background-color: #fff; 
    border-radius: 10px;
    margin-top: 7px;
}

.contactMe{
    grid-area: 1 / 3 / 2 / 4;
}

.photosGaspard{
    grid-area: 1 / 5 / 2 / 6;
}

.contactLinkParent{
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.titleContactLinkFooter{
    grid-area: 1 / 1 / 2 / 2;
}

.websiteLinkFooter{
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 20px;
}

.mailLinkFooter{
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 20px;
}

.contactLinkParent a {
    text-decoration: none; 
    color: inherit; 
    background-color: transparent;
    cursor: pointer;
}

.parentIconeText{
    display: grid;
    grid-template-columns: repeat(2, 2em);
    grid-template-rows: 1fr;
}

.footerText{
    font-size: 1.2em; 
    text-align: left; 
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

/* Scroll info */
#mouse-scroll {
    display: block;
}

#mouse-scroll {
    position: fixed;
    background: #fff;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
    left: 2%; 
    margin-top: -5%;
}

.mouse-scroll-dark{
    background: #000!important;
}

#mouse-scroll span{
    display: block;
    width: 5px; 
    height: 5px;
    -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transform: rotate(45deg);
    border-right: 2px solid #000; 
    border-bottom: 2px solid #000;
    margin: 0 0 3px 7px;
}

.mouse-scroll-dark span{
    border-right: 2px solid #fff!important; 
    border-bottom: 2px solid #fff!important;
}

#mouse-scroll .mouse {
    height: 32px;
    width: 17px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #000;
    top: 170px;
}

.infoHelpTitle-dark{
    background: #000;
    box-shadow: 9px 11px 0px 1px #fff;
    border: 0.5px solid #fff;
}

.mouse-scroll-dark .mouse{
    border: 2px solid #fff!important;
}

#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite; 
        -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
    -webkit-animation-delay: .1s; 
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s; 
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block; 
    margin: 5px auto;
    background: #000;
    position: relative;
}

.mouse-scroll-dark .mouse-in {
    background: #fff!important;
}

#mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    } 
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Dark mode */
.dark-mode {
    background: #000!important;
    color: #fff!important;
}

.dark-mode-title{
    -webkit-text-stroke: 0px#d1c8ca;
}

/* Custom cursor */
.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(0.3);
    z-index: 1000;
    cursor: none!important;
}
  
.custom-cursor--link {
    transform: translate(-50%, -50%) scale(0.7);
    cursor: none!important;
}


/******** Mobile **********/
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {

    .parentMainTitle {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 0.8fr repeat(2, 1fr);
        height: 25em;
    }

    .mainTitleDiv1{grid-area: 1 / 1 / 2 / 3;};
    .mainTitleDiv2 { grid-area: 1 / 3 / 2 / 5; }
    .mainTitleDiv3 { grid-area: 2 / 1 / 3 / 2; }
    .mainTitleDiv4 { grid-area: 2 / 2 / 3 / 4; }
    .mainTitleDiv5 { grid-area: 2 / 4 / 3 / 5; }
    .mainTitleDiv6{display: none!important;}
    .mainTitleDiv7{grid-area: 1 / 5 / 3 / 6; z-index: 0;}

    /* .mainTitleDiv5{display: none;} */
    /* .backgroundColorImage{
        display: none;
    } */

    .mainTitleDiv7 { 
        grid-area: 1 / 5 / 3 / 6;
        background-image: url("https://catacombes.xyz/assets/images/porteOuverteAcqueducDeLaVanne_catacombes.jpg");
        background-size: cover; 
        background-position: center;
        width: 2em!important;
        /* height: 100%; */
        /* margin-left: 2em!important; */
    }

    .mainTitleFirst, .mainTitleSecond{
        font-size: 7vw;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -0.9em!important;
    }

    .mainTitleSecond{
        margin-top: -0.4em;
        /* margin-left: .2em!important; */
        margin-bottom: 10px;
    }

    #modaleRoom3D{
        height: inherit;
        width: 14em;
    }

    #logoVR{
        margin-top: -4.6em;
        margin-left: 8.2em;
        /* margin-left: 23em;
        margin-top: -4.7em; */
    }

    .parentTextExplications{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 0 repeat(2, 1fr) 0.4fr repeat(2, 1fr) 0.2fr repeat(2, 1fr) 0.2fr repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: -80%;
        text-align: justify;
    }

    .backgroundImageMobile{
        background-image: url("https://catacombes.xyz/assets/images/etageInferieurCimetiereMontparnasse.png")!important;
        background-size: cover!important; 
        background-position: center!important;
        margin: 10px!important;
        width:95%!important; 
        height:94%!important;
        margin: auto!important;
    }

    #firstText{
        margin-top: 2em;
        grid-area: 2 / 2 / 3 / 8;
    }

    #nameText{
        margin-top: 0.2em;
        grid-area: 3 / 6 / 4 / 8;
        margin-bottom: 5em;
    }

    .textExplication1{
        grid-area: 5 / 2 / 7 / 8!important;
    }

    .textExplication2{
        margin-top: 0.2em;
        grid-area: 8 / 2 / 10 / 8!important;
    }

    .textExplication3{
        grid-area: 11 / 2 / 13 / 8!important;
        margin-top: 0.2em;
        margin-bottom: -2em;
    }

    .parent{
        text-align: center;
        margin-top: -6em;
    }

    .icon-tabler-cardboards, .icon-tabler-augmented-reality, 
    .icon-tabler-augmented-reality-2{
        display: none;
    }

    #catacombesTitle{
        width: 100%;
    }

    #firstText{
        width: 100%;
        font-size: 30px;
    }

    .parent{
        width: 90%;
        text-align: center;
        height: 400px;
        margin-top: -6em
    }

    #parentDiv{
        width: 760px!important;
        height: 460px!important;
        grid-template-columns: repeat(12, 62.33px)!important;
        grid-template-rows: repeat(12, 37.33px)!important; 
        margin-top: 5em;
        /* width: 93%;
        height: 100%;
        grid-template-columns: repeat(12, 7.75%);
        grid-template-rows: repeat(12, 8.33%);
        margin-top: 5em */
    }

    .parentMapping{
        display: grid;
        grid-template-columns: repeat(7, 9.04px);
        grid-template-rows: repeat(5, 7.66px);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #canvas, #canvasDiv{
        height: 90%!important;
        width: 95%!important;
        margin-right: auto; 
        margin-left: auto;
        right: 0; 
        left: 0;
        text-align: center;
        margin-left: 5%;
    }

    .nameRoom, .buttonRoom3D{
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: 600;
        text-align: left!important;
        color: rgb(0, 0, 0);
    }

    .infoHelpTitle{
        font-size: 1.2em;
        /* text-align: left; */
        padding-left: 0px;
    }

    .infoHelpDiv{
        grid-area: 2 / 2 / 3 / 6;
    }

    .buttonRoom3D{
        text-align: left!important;
    }

    #infoIcon{
        margin-top: 0.7em;
        right: 9.5%!important;
    }

    #closeIcon{
        margin-top: 1.3em;
        right: 4%;
    }

    #ARButton{
        bottom: 20px!important;
        margin-left: -45%!important;
        height: 16px;
        display: none;
    }

    .loading-bar{
        top: 50%!important;
        left: -1.5%!important;   
        width: 95%;  
    }

    .loadingPercent{
        top: 37%!important;
        left: 50%;
    }

    .mainTitleHeader{
        text-align: left!important;
        margin-left: 11.5em;
        margin-top: -0.8em;
    }

    /* .image1, .image2, 
    .image3, .image4, 
    .image5, .image6, 
    .image7, .image8, 
    .image9, .image10, 
    .image11, .image12, 
    .image13, .image14, 
    .image15, .image16, 
    .image17, .image18,
    .image19, .image20, 
    .image21, .image22, 
    .image23, .image24, 
    .image25, .image26 {
        display:none;
    } */

    .parentTextExplications {
        display: grid;
        /* grid-template-columns: 0.1fr 0.5fr repeat(4, 1fr) 0.5fr 0.1fr; */
        /* grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.1fr 1fr 0.1fr; */
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 18em)!important;
        width: 107%;
        margin-top: 8em;
        /* margin-top: 1em; */
    }

    /* .textExplication1{
        grid-area: 6 / 1 / 7 / 6!important;
        margin-bottom: 30%!important;
    }

    .textExplication2{
        grid-area: 7 / 1 / 8 / 6!important;
        margin-top: 120%;
        font-size: 12px;
    }

    .textExplication3{
        grid-area: 8 / 1 / 9 / 6!important;
        margin-top: 5em;
    } */

    .textExplication1, .textExplication2, .textExplication3{
        display: none;
    }

    .parentFooter{
        display: grid!important; 
        /* grid-template-columns: repeat(3, 33%); */
        grid-template-rows: 1fr;
        width: 105%!important;
        grid-template-columns: 0.7fr 0.2fr 0.5fr 0.2fr 0.8fr;
    }

    .imageIconFooter{
        width: 100%!important;
    }

    .iconeFooter{
        grid-area: 1 / 1 / 2 / 2;
        width: 50%!important;
    }

    .contactMe{
        grid-area: 1 / 2 / 2 / 3;
        width: 60%!important;
    }

    .photosGaspard{
        /* display: none; */
        width: 92%!important;
        padding: 16px 10px;
    }

    #VRButton{
        left: 60%;
        position: fixed!important;
        z-index: 9999;
        bottom: 20px!important;

    }

    .XrNotAvailable{
        position: fixed!important;
        bottom: 20px!important;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: portrait) {

    body{
        width: 100%;
    }

    .parentMainTitle {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr repeat(2, 0.2fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        height: 20em;
    }
        
    .mainTitleDiv1 { grid-area: 1 / 1 / 2 / 3; }
    .mainTitleDiv2 { grid-area: 3 / 2 / 4 / 3; }
    .mainTitleDiv3 { grid-area: 2 / 1 / 4 / 2; }
    .mainTitleDiv4 { grid-area: 2 / 2 / 3 / 3; }
    .mainTitleDiv5 { display: none}
    .mainTitleDiv6 { display: none}
    .mainTitleDiv7 { display: none}

    .mainTitleFirst, .mainTitleSecond{
        font-size: 21vw;
        margin-left: -37%!important;
        /* text-align: left; */
    }

    #logoVR{
        /* text-align: right; */
        margin-left: 13.5em!important;
        margin-top: -5.3em;
    }

    #parentDiv{
        width: 360px;
        height: 219px;
        grid-template-columns: repeat(12, 27px);
        grid-template-rows: repeat(12, 15.25px);
        margin-top: 2em;
    }

    #mouseScroll{
        display: none;
    }

    /* .parentTextExplications{
        margin-top: -38em;
    } */

    .parentTextExplications{
        display: block;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 0px 20px;
        margin-top: 3em;
        /* z-index: 99; */
    }

    .modaleElemPresentation{
        grid-area: 5 / 10 / 12 / 13;
    }

    .textExplication1{
        grid-area: 1 / 2 / 2 / 3!important;
        margin-bottom: 3em;
    }

    .textExplication2{
        grid-area: 3 / 2 / 4 / 3!important;
    }

    .textExplication3{
        grid-area: 5 / 2 / 6 / 3!important;
        height: 530px!important;
        margin-top: 3em;
        margin-bottom: 4em;
    }

    .tablerIcone{
        display: none;
    }

    #modaleRoom3D{
        height: 140px;
        width: 103%;
        margin-left: 1em;
        margin-top: -1em;
    }

    .nameRoom{
        font-size: 1em;
        padding-left: 10px!important;
        text-decoration: underline 7px solid #1e1c1c!important;
    }

    .infoHelpTitle{
        font-size: 0.6em;
        padding-left: 5px;
    }

    .infoHelpDiv{
        grid-area: 2 / 2 / 3 / 7;
    }

    .imageRoom{
        margin: 0.5em auto 1em!important;
    }

    .buttonRoom3D{
        width: 80%;
        height: 14%!important;
        margin-left: 10px!important;
        font-size: 0.7em!important;
        margin-top: -0.7em;
        color:rgb(0, 0, 0);
    }

    button{
        height: 3em;
        width: 6em;
    }

    #canvas, #canvasDiv{
        width: 90%!important;
        height: 90%!important;
        position: fixed;
        margin-right: auto;
        margin-left: auto;
        left: 0; 
        right: 0;
    }

    #closeIcon{
        right: 5%;
        top: 7%;
        position: fixed;
    }

    #infoIcon{
        right: 4%;
        top: 14%;
        position: fixed;
    }

    .loading-bar{
        top: 50%;
        width: 90%;
        margin-left: 4%!important;
    }

    .loadingPercent{
        top: 43%;
        margin-right: auto; 
        margin-left: auto;
    }

    #shape2{
        margin-left: 0%;
        top: 5%;
    }

    #imgHelp{
        width: 67%;

        margin-left: -5em;
        margin-bottom: -54em;
    }

    #VRButton{
        position: fixed!important;
        bottom: 20px!important;
        /* left: 25px!important; */
        margin-right: -30%!important;
    }

    #ARButton{
        height: 16px;
        bottom: 20px;
        margin-left: -80%;
        display: none;
    }

    .image1, .image2, 
    .image3, .image4, 
    .image5, .image6, 
    .image7, .image8, 
    .image9, .image10, 
    .image11, .image12, 
    .image13, .image14, 
    .image15, .image16, 
    .image17, .image18,
    .image19, .image20, 
    .image21, .image22, 
    .image23, .image24, 
    .image25, .image26 {
        display:none;
    }

    .parentFooter{
        display: grid!important; 
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: 1fr;
        width: 100%;
    }

    .imageIconFooter{
        width: 100%!important;
    }

    .iconeFooter{
        grid-area: 1 / 1 / 2 / 2;
        width: 50%!important;
    }

    /* .imageIconFooter{
        width: 60%!important;
    } */

    .contactMe{
        grid-area: 1 / 2 / 2 / 3;
    }

    .photosGaspard{
        display: none;
    }

    /* .contactLinkParent{
        grid-template-columns: 13em!important;
    } */

    .XrNotAvailable{
        position: fixed!important;
        bottom: 20px!important;
    }

}

@media screen and (max-width: 800px)
and (orientation: landscape) {

    .parentMainTitle {
        display: grid;
        /* grid-template-columns: repeat(5, 1fr); */
        /* grid-template-rows: 0.8fr repeat(2, 1fr); */
        height: 25em;
    }

    .mainTitleDiv1{grid-area: 1 / 1 / 2 / 3;};
    .mainTitleDiv2 { grid-area: 1 / 3 / 2 / 5; }
    .mainTitleDiv3 { grid-area: 2 / 1 / 3 / 2; }
    .mainTitleDiv4 { grid-area: 2 / 2 / 3 / 4; }
    .mainTitleDiv5 { grid-area: 2 / 4 / 3 / 5; }
    .mainTitleDiv6{display: none!important;}
    .mainTitleDiv7{
        grid-area: 1 / 5 / 3 / 6;     
        width: 1em;
        margin-left: 3.5em;
    }

    /* .backgroundColorImage{
        display: none;
    } */

    #parentDiv{
        /* width: 760px;
        height: 460px;
        grid-template-columns: repeat(12, 62.33px);
        grid-template-rows: repeat(12, 37.33px);
        margin-top: 5em */
        width: 93%;
        /* height: 100%; */
        grid-template-columns: repeat(12, 7.75%);
        grid-template-rows: repeat(12, 8.33%);
        margin-top: 5em
    }

    .parentMapping{
        display: grid;
        grid-template-columns: repeat(7, 9.04px);
        grid-template-rows: repeat(5, 7.66px);
    }

    #canvas, #canvasDiv{
        height: 90%!important;
        width: 95%!important;
        margin-right: auto; 
        margin-left: auto;
        right: 0;
        left: 0; 
        text-align: center;
        /* margin-left: 5%; */
    }


    /* .loading-bar{
        top: 50%!important;
        margin-left: 5%;
        width: 95%;
    } */

    .loadingPercent{
        top: 37%!important;
        left: 50%;
    }

    .mainTitleHeader{
        text-align: left!important;
        margin-left: 11.5em;
        margin-top: -0.8em;
    }

    /* .image1, .image2, 
    .image3, .image4, 
    .image5, .image6, 
    .image7, .image8, 
    .image9, .image10, 
    .image11, .image12, 
    .image13, .image14, 
    .image15, .image16, 
    .image17, .image18,
    .image19, .image20, 
    .image21, .image22, 
    .image23, .image24, 
    .image25, .image26 {
        display:none;
    } */

    .parentTextExplications{
        grid-template-rows: repeat(8, 18em);
    }

    .textExplication1{
        grid-area: 6 / 1 / 7 / 6;
    }

    .textExplication2{
        grid-area: 7 / 1 / 8 / 6;
    }

    .textExplication3{
        grid-area: 8 / 1 / 9 / 6;
        margin-top: 2em;
    }

    .parentFooter{
        margin-top: 2em;
        grid-template-columns: 0.7fr 0fr 0.7fr 0fr 0.7fr;
        /* margin-bottom: 10px; */
        position: relative;
        bottom: 10px
    }

    .photosGaspard{
        width: 100%!important;
        margin-left: -35%;
    }

    .mainTitleFirst, .mainTitleSecond{
        position: relative;
    }

    #parentDiv{
        /* width: 760px;
        height: 460px;
        grid-template-columns: repeat(12, 62.33px);
        grid-template-rows: repeat(12, 37.33px);
        margin-top: 5em */
        width: 720px;
        height: 438px;
        grid-template-columns: repeat(12, 60px);
        grid-template-rows: repeat(12, 36.5px);
        margin-top: 5em
    }

    .parentMapping{
        display: grid;
        grid-template-columns: repeat(7, 9px);
        grid-template-rows: repeat(5, 7.6px);
    }

/* 
    .infoHelpDiv{
        grid-area: 2 / 2 / 3 / 7;
    }
*/
    .textExplication2{
        margin-top: -0.5em;
    }

    .textExplication3{
        margin-top: -0.2em;
    }

    .backgroundImageMobile{
        background-image: url("https://catacombes.xyz/assets/images/etageInferieurCimetiereMontparnasse.png")!important;
        background-size: cover!important; 
        background-position: center!important;
        margin: 10px!important;
        width:95%!important; 
        height:94%!important;
        margin: auto!important;
    }
/*
    .infoHelpTitle{
        font-size: 1.2em;
        padding-left: 10px;
    } */

    /* #closeIcon{
        right: 7%;
        top: 6%;
        position: fixed;
    }

    #infoIcon{
        right: 6%;
        top: 14%;
        z-index: 10;
        position: fixed;
    } */

    /* .loading-bar{
        top: 50%;
        width: 95%;
        margin-left: 2.5%!important;
    } */

    /* .loadingPercent{
        top: 43%;
        margin-right: auto; 
        margin-left: auto;
    } */


}

    
