/* @font-face {
    font-family: "Apercu";
    src: local("Apercu"),
         url("assets/Fonts/apercu_bold_pro.otf") format("opentype")
} */

@font-face {
    font-family: "wildworld";
    src: url("./assets/Fonts/WILDWORLD.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    position: relative;
    background-color: #f1f0eb;
}

h1, h2{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.mainTitleFirst, .mainTitleSecond{
    /* font-family: "wildworld"; */
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 600;
}

.mainTitleSecond{
    color: transparent; 
    -webkit-text-stroke: 0px #231f20;
    -webkit-text-stroke-width: thin!important; 
    font-weight: 100;
    font-size: 8vw;
    margin-top:-0.4em;
    margin-left: -1.4em!important;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #000;
}

button{
    height: 3em; 
    background-color: #ffffff;
    box-shadow: 0px 0px 61px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 61px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 61px 3px rgba(0,0,0,0.75);
    border: 0.5px solid #dbdbdb;
    border-radius: 30px;
    padding: 5px 10px; 
    font-size: 15px;
}

#catacombesTitle{
    text-align: center;
    width: 50%;
    margin: 2em auto 1em auto;
    
}

.loading-bar{
    position: fixed; 
    top: 50%; 
    width: 90%; 
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    margin-left: 4%;
    transition: transform 0.5s;
    will-change: transform;
}

.loadingPercent{
    z-index: 99999; 
    color: #ffffff; 
    position: fixed; 
    margin: auto; 
    left: 50%;
    top: 43%;
    transition: transform 3s;
}

#VRButton{
    position: fixed!important;
}

#ARButton{
    position: fixed;
    bottom: 4em;
    padding: 12px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font: 13px sans-serif;
    opacity: 0.5;
    outline: none;
    z-index: 999;
    cursor: pointer;
    left: calc(50% - -140px);
    width: 102px;
    height: 13px;
    color: #ffff;
    text-align: center;
}

#arLink{
    text-decoration: none;
    margin: auto; 
    right: 0; 
    left: 0; 
    top: 0; 
    bottom: 0;
    padding: auto;
}

.loading-bar.ended{
    transform-origin: top right;
    transition: transform 1s ease-in-out;
}

.webgl
{
    position: fixed;
    outline: none;
    bottom: 1em;
    height: 680px!important;
    margin-left: 4%;
}

#canvas, #canvasDiv{
    display: none;
    /* width: 1200px!important;  */
    width: 90%!important; 
    /* height: 650px!important; */
    height: 95%!important;
    /* margin-left: 5%; */
    margin-top: 2%;
    border-radius: 15px;
    box-shadow: -1px -1px 147px 33px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 147px 33px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 147px 33px rgba(0,0,0,0.75);
    /* margin-top: -42em; */
    position: fixed;
}

.parent {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: repeat(12, 96px);
    /* grid-template-rows: repeat(12, 1fr); */
    grid-template-rows: repeat(12, 58px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url("assets/Images/paris.png");
    width: 1150px;
    height: 700px;  
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: #000000 solid 11px;
}

#belierPoint, #plagePoint, 
#cellierPoint, #soleilPoint, 
#anubisPoint, #boutikPoint, 
#ossaPoint{
    width: 10%;
}
    
.div1 { grid-area: 11 / 6 / 12 / 7;}
.div2 { grid-area: 10 / 7 / 11 / 8;}
.div3 { grid-area: 10 / 6 / 11 / 7;}
.div4 { grid-area: 9 / 7 / 10 / 8;}

#imgHelp{
    z-index: 99999; 
    margin: auto; 
    bottom: 4em; 
    right: 0; 
    left: 0; 
    width: 72%; 
    border-radius: 15px
}

#closeIconInfo{
    margin-left: 76%; 
    top: 2%;
}

#closeHelpButton{
    background-color: #fff; 
    border-radius: 50%; 
    border: 1.2px #000 solid; 
    z-index: 999999; 
    position: absolute; 
    top: 0.2%;
    right: 14.2%;
}

#infoButton{
    display: none; 
    position: fixed; 
    top: 6%; 
    text-align: center;
}

#closeIcon{
    /* margin-left: 1241px; */
    right: 6.7%;
    margin-top: 13px;
    z-index: 999999; 
    width: 14px;
    height: 15px; 
    position: fixed;
    background-color: #fff; 
    padding: 5px 10px 10px 8px;
    border-radius: 50%;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra */
    -ms-user-select: none; /* Internet explorer */
    user-select: none; /* Propriété standard */
    text-align: center;
    top: 2%;
    border: 1.8px #000 solid;
    display: none;
}

#infoIcon{
    right: 9.5%;
    position: fixed;
    top: 3%;
}

/****** Room placement on map ******/
#belierPoint{
    margin-top: 13%;
    margin-left: 5%;
}

#concretionPoint{
    margin-top: -32%;
    margin-left: 22%;
}

#cellierPoint{
    margin-top: 22%;
    margin-left: 70%;
}

#plagePoint{
    /* margin-top: 25%; */
    margin-left: -10%;
}

#soleilPoint{
    margin-top: -22%;
    margin-left: 4%;
}

#anubisPoint{
    margin-top: 2%;
    margin-left: 16%;
}

#boutikPoint{
    margin-top: 40%;
    margin-left: 13%;
}

#ossaPoint{
    margin-top: -27%;
    margin-left: 28%;
}

#belierDiv, #concretionDiv{
    grid-area: 11 / 6 / 12 / 7;
}

#cellierDiv{
    grid-area: 10 / 6 / 11 / 7;
}

#plageDiv, #soleilDiv{
    grid-area: 10 / 7 / 11 / 8;
}

#anubisDiv{
    grid-area: 9 / 7 / 10 / 8;
}

#boutikDiv, #ossaDiv{
    grid-area: 9 / 7 / 10 / 8;
}


.parentTextExplications {
    display: grid;
    grid-template-columns: 0.1fr 0.5fr repeat(2, 1fr) 0.5fr 0.1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: -10em;
}
    
.textExplication1 { grid-area: 2 / 3 / 3 / 4; }
.textExplication2 { grid-area: 4 / 4 / 5 / 5; }
.textExplication3 { grid-area: 6 / 3 / 7 / 4; margin-top: -4em; height: 400px!important;}

.textExplication{
    /* padding: 1em 3em 3em;  */
    text-align: justify;
    background-color: #f9f9f9;
    padding: 15px 20px; 
    border-radius: 10px;
    box-shadow: 0px 0px 32px 0px rgba(186,186,186,0.75);
    -webkit-box-shadow: 0px 0px 32px 0px rgba(186,186,186,0.75);
    -moz-box-shadow: 0px 0px 32px 0px rgba(186,186,186,0.75);
    z-index: 999;
}

#infobutton{
    display: none; 
    position: absolute;
    margin-left: 24%; 
    margin-top: 3%;
}

#nameText{
    text-align : end; 
}

/*** Background shapes ****/

#shape1{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); 
    width: 6em; 
    border-radius: 50%; 
    filter: blur(1.5rem);
}

#shape2{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 10em;
    border-radius: 50%;
    filter: blur(1.5em);
    height: 10em;
    margin-left: 80%;
}




/******** Mobile **********/
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (orientation: landscape) {

    #body{
        text-align: center!important;
    }
    .parentTextExplications{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 0 repeat(2, 1fr) 0.4fr repeat(2, 1fr) 0.2fr repeat(2, 1fr) 0.2fr repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-top: -105%;
        /* margin-left: 0%; */
        /* width: 84em; */
        text-align: justify;

    }

    #firstText{
        margin-top: 2em;
        grid-area: 2 / 2 / 3 / 8;
    }

    #nameText{
        margin-top: 0.2em;
        grid-area: 3 / 6 / 4 / 8;
        margin-bottom: 5em;

    }

    .textExplication1{
        grid-area: 5 / 2 / 7 / 8;
    }

    .textExplication2{
        margin-top: 0.2em;
        grid-area: 8 / 2 / 10 / 8;
        margin-right: 3em;
    }

    .textExplication3{
        grid-area: 11 / 2 / 13 / 8;
    }

    .parent{
        text-align: center;
        /* margin-left: 7%; */
    }

    #catacombesTitle{
        width: 100%;
        /* margin-left: 18%; */
    }

    #firstText{
        width: 100%;
        font-size: 30px;
        /* margin-left: 16%; */
    }
    .parent{
        width: 90%;
        text-align: center;
        height: 400px;
        margin-bottom: 3em;
    }

    #canvas, #canvasDiv{
        height: 12%!important;
        width: 95%!important;
        margin-right: auto; 
        margin-left: auto;
        text-align: center;
    }

    #infoIcon{
        margin-top: 5em;
        right: 7%;
    }

    #closeIcon{
        margin-top: 5.3em;
    }

    .loading-bar{
        top: 95%!important;
        margin-left: 0.5%;   
        width: 95%;  

    }

    .loadingPercent{
        top: 92%!important;
        left: 45%;
    }
}



/* test scroll */
.c-direction-block_item.-one {
    top: 18%;
    transform: translateX(3vw) rotate(-8deg);
  }
  .c-direction-block_item.-two {
    top: 20.5%;
    transform: translateX(3vw) rotate(2deg);
  }
  .c-direction-block_item.-three {
    top: 23%;
    transform: rotate(-1deg);
  }
  .c-direction-block_item.-four {
    top: 27%;
    transform: translateX(0vw) rotate(-11deg);
  }
  .c-direction-block_item.-five {
    top: 28.5%;
    transform: translateX(0vw) rotate(-7deg);
  }

  .c-direction-block_item {
    position: absolute;
    font-size: 3vw;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
  }
  .c-direction-block_item span {
    display: block;
    background-color: #fff;
    white-space: nowrap;
    padding: 0 20px;
  }


